fastapi
uvicorn==0.30.6
python-jose
python-multipart
websockets==10.4
numpy
httpx
pydantic
librosa
langchain-openai
langchain-core
scipy
soundfile
azure-identity
azure-core
azure-cognitiveservices-speech
python-dotenv
